@font-face {
  font-family: "Geometr231 Hv BT Heavy";
  src: url(../fonts/geometric231hvbt.ttf);
}
@font-face {
  font-family: "Geometr706 Md BT Medium";
  src: url(../fonts/geometric706mdbt.ttf);
}
:root {
  --main: rgb(255, 255, 255);
  --main-dark: rgb(230, 230, 230);
  --green: rgb(196, 232, 107);
  --green-dark: rgb(169, 200, 107);
  --red: rgb(255, 71, 71);
  --red-dark: rgb(228, 71, 71);
  --orange: rgb(255, 181, 71);
  --orange-dark: rgb(228, 152, 71);
  --turquoise: rgb(0, 188, 180);
  --turquoise-dark: rgb(0, 152, 144);
  --gray: rgb(106, 106, 106);
  --gray-dark: rgb(47, 47, 47);
}

body {
  font-family: "Geometr706 Md BT Medium";
  font-size: 14px;
}

.container {
  width: 1920px;
  margin-block: auto;
}

.img-section {
  position: relative;
}
.img-section:hover .imgs-wrapper {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
}
.img-section:hover .btn {
  background-color: rgba(0, 0, 0, 0.15);
}

.imgs-wrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-filter: brightness(85%);
          filter: brightness(85%);
  -webkit-transition: -webkit-filter 0.18s ease-out;
  transition: -webkit-filter 0.18s ease-out;
  transition: filter 0.18s ease-out;
  transition: filter 0.18s ease-out, -webkit-filter 0.18s ease-out;
}
.text-section {
  padding: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 60px;
  color: var(--main);
}
.text-section .text-section__title {
  max-width: 190px;
  font-size: 22px;
  line-height: 1.2;
  text-transform: uppercase;
}
.text-section .text-section__title span {
  display: inline-block;
  font-family: "Geometr706 Md BT Medium";
  font-size: 66px;
  line-height: 1;
  letter-spacing: 0.04em;
  -ms-hyphens: manual;
      hyphens: manual;
  position: relative;
  left: -4px;
}
.text-section .text-section__title span::first-line {
  font-family: "Geometr231 Hv BT Heavy";
  font-size: 78px;
  letter-spacing: normal;
}
.text-section .text-section__desc {
  font-size: 14px;
  line-height: 1.4;
  -ms-hyphens: auto;
      hyphens: auto;
}

.btn {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 182px;
  height: 50px;
  border: 2px solid var(--main);
  background-color: transparent;
  color: var(--main);
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center;
  -webkit-transition: background-color 0.18s ease-out, border-color 0.18s ease-out, color 0.18s ease-out;
  transition: background-color 0.18s ease-out, border-color 0.18s ease-out, color 0.18s ease-out;
}
.btn:hover:hover:hover {
  background-color: var(--main);
}
.btn:active:active:active {
  background-color: var(--main-dark);
  border-color: var(--main-dark);
}

.btn_rounded {
  width: 85px;
  height: 40px;
  border-radius: 25px;
  font-size: 12px;
  letter-spacing: 1.5px;
}

.btn_absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 638px 332px 852px 98px;
      grid-template: 112px/638px 332px 852px 98px;
      grid-template-areas: ". header__logo header__nav header__search";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: start;
}
.header .header__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: header__logo;
}
.header .header__nav {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: header__nav;
}
.header .header__nav .header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 64px;
     -moz-column-gap: 64px;
          column-gap: 64px;
}
.header .header__nav .header__list .header__link {
  position: relative;
  padding-block: 6px;
  text-transform: uppercase;
  -webkit-transition: color 0.2s ease-out;
  transition: color 0.2s ease-out;
}
.header .header__nav .header__list .header__link:hover {
  color: var(--turquoise);
}
.header .header__nav .header__list .header__link:hover::after {
  height: 34px;
}
.header .header__nav .header__list .header__link:active {
  color: var(--turquoise-dark);
}
.header .header__nav .header__list .header__link::after {
  content: "";
  display: block;
  width: calc(100% + 30px);
  height: 0;
  position: absolute;
  left: 0;
  bottom: -41px;
  background-color: var(--turquoise);
  -webkit-transition: height 0.22s cubic-bezier(0.25, 1, 0.65, 1);
  transition: height 0.22s cubic-bezier(0.25, 1, 0.65, 1);
}
.header .header__search {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: header__search;
}
.header .header__search .header__search-icon {
  -webkit-transition: fill 0.2s ease-out;
  transition: fill 0.2s ease-out;
}
.header .header__search .header__search-icon:hover {
  fill: var(--turquoise);
}
.header .header__search .header__search-icon:active {
  fill: var(--turquoise-dark);
}

.main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 638px 332px 418px 532px;
      grid-template: 332px 116px 332px/638px 332px 418px 532px;
      grid-template-areas: "slider-arrows healthy thirsty thirsty" "slider-arrows healthy slider-dots orange" "freshy healthy slider-dots orange";
}

.slider-arrows {
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  grid-area: slider-arrows;
}
.slider-arrows .slider-arrows__nav {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.slider-arrows .slider-arrows__nav .slider-arrows__btn:hover:hover:hover {
  color: var(--green);
}
.slider-arrows .slider-arrows__nav .slider-arrows__btn:active:active:active {
  color: var(--green-dark);
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle svg, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle svg {
  fill: transparent;
  -webkit-transition: fill 0.18s ease-out;
  transition: fill 0.18s ease-out;
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle path, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle path {
  -webkit-transition: stroke 0.18s ease-out;
  transition: stroke 0.18s ease-out;
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle path:last-of-type, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle path:last-of-type {
  fill: transparent;
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle:hover > svg, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle:hover > svg {
  fill: var(--main);
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle:hover > svg path:last-of-type, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle:hover > svg path:last-of-type {
  stroke: var(--green);
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle:active > svg, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle:active > svg {
  fill: var(--main-dark);
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle:active > svg path:nth-of-type(2), .slider-arrows .slider-arrows__nav .slider-arrows__left-circle:active > svg path:nth-of-type(2) {
  stroke: var(--main-dark);
}
.slider-arrows .slider-arrows__nav .slider-arrows__right-circle:active > svg path:last-of-type, .slider-arrows .slider-arrows__nav .slider-arrows__left-circle:active > svg path:last-of-type {
  stroke: var(--green-dark);
}

.slider-dots {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 3;
  grid-area: slider-dots;
}
.slider-dots .slider-dots__btn:hover:hover:hover {
  color: var(--red);
}
.slider-dots .slider-dots__btn:active:active:active {
  color: var(--red-dark);
}
.slider-dots .slider-dots__nav {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 62px;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}
.slider-dots .slider-dots__nav .slider-dots__nav-item {
  display: inline-block;
  width: 13px;
  height: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 2px solid var(--main);
  border-radius: 50%;
}
.slider-dots .slider-dots__nav .slider-dots__nav-item_active {
  background-color: var(--main);
}

.orange {
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
  -ms-grid-column: 4;
  grid-area: orange;
}
.orange .orange__btn:hover:hover:hover {
  color: var(--orange);
}
.orange .orange__btn:active:active:active {
  color: var(--orange-dark);
}
.orange .orange__arrow {
  position: absolute;
  bottom: 35px;
  right: 70px;
}
.orange .orange__arrow path {
  -webkit-transition: fill 0.18s ease-out;
  transition: fill 0.18s ease-out;
  fill: var(--main);
}
.orange .orange__arrow:active path {
  fill: var(--main-dark);
}

.freshy {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: freshy;
  background-color: var(--green);
}

.healthy {
  -ms-grid-row: 1;
  -ms-grid-row-span: 3;
  -ms-grid-column: 2;
  grid-area: healthy;
  background-color: var(--red);
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

.thirsty {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 2;
  grid-area: thirsty;
  background-color: var(--orange);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-column-gap: 70px;
     -moz-column-gap: 70px;
          column-gap: 70px;
}
.thirsty .thirsty__title span {
  left: -2px;
}
.thirsty .thirsty__desc {
  max-width: 348px;
  padding-left: 120px;
  text-align: right;
}

.footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #2F2F2F;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 281px 357px 332px 418px;
      grid-template: 256px auto/281px 357px 332px 418px;
      grid-template-areas: ". socials form logo" ". . . copy";
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer .footer__socials {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: socials;
}
.footer .footer__socials .footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link svg :is(circle, rect, path) {
  -webkit-transition: fill 0.18s ease-out, stroke 0.18s ease-out;
  transition: fill 0.18s ease-out, stroke 0.18s ease-out;
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link svg > g > circle {
  fill: transparent;
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link:hover > svg > g > circle {
  fill: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link:active > svg > g > circle {
  fill: var(--main-dark);
  stroke: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:first-of-type {
  fill: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:nth-of-type(2) {
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:nth-of-type(3) {
  fill: var(--gray-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:nth-of-type(4) {
  stroke: var(--gray-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:last-of-type {
  fill: var(--gray-dark);
  stroke: var(--gray-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:first-of-type {
  fill: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:nth-of-type(2) {
  stroke: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:nth-of-type(3) {
  fill: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:nth-of-type(4) {
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:last-of-type {
  fill: var(--main);
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:first-of-type {
  fill: var(--turquoise-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:nth-of-type(2) {
  stroke: var(--turquoise-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:nth-of-type(3) {
  fill: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:nth-of-type(4) {
  stroke: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:last-of-type {
  fill: var(--main-dark);
  stroke: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_twitter svg path, .footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_facebook svg path {
  fill: var(--main);
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_twitter:hover > svg path, .footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_facebook:hover > svg path {
  fill: var(--turquoise);
  stroke: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_twitter:active > svg path, .footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_facebook:active > svg path {
  fill: var(--turquoise-dark);
  stroke: var(--turquoise-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_linkedin svg > g > g > :is(circle, rect, path) {
  fill: var(--main);
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_linkedin:hover > svg > g > g > :is(circle, rect, path) {
  fill: var(--turquoise);
  stroke: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_linkedin:active > svg > g > g > :is(circle, rect, path) {
  fill: var(--turquoise-dark);
  stroke: var(--turquoise-dark);
}
.footer .footer__form.form {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: form;
  text-transform: uppercase;
  font-size: 0;
}
.footer .footer__form.form .form__title {
  display: block;
  color: var(--main);
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.footer .footer__form.form .form__input {
  font-size: 14px;
  width: 234px;
  height: 42px;
  padding-inline: 24px;
}
.footer .footer__form.form .form__submit {
  width: 98px;
  height: 42px;
  background-color: var(--turquoise);
  color: var(--main);
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.18s ease-out, color 0.18s ease-out;
  transition: background-color 0.18s ease-out, color 0.18s ease-out;
}
.footer .footer__form.form .form__submit:hover {
  background-color: var(--main);
  color: var(--turquoise);
}
.footer .footer__form.form .form__submit:active {
  background-color: var(--main-dark);
  color: var(--turquoise-dark);
}
.footer .footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: logo;
  position: relative;
  -ms-grid-column-align: right;
      justify-self: right;
  right: 116px;
  bottom: -15px;
}
.footer .footer__logo :is(ellipse, path) {
  fill: var(--gray);
}
.footer .footer__copy {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: copy;
  -ms-grid-column-align: right;
      justify-self: right;
  position: relative;
  margin-bottom: 44px;
  margin-right: 77px;
  color: var(--gray);
  font-family: Inter;
  font-size: 11px;
}

.down-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 532px;
      grid-template: 386px/auto 532px;
      grid-template-areas: "footer juicy";
}

.footer {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: footer;
  background-color: #2F2F2F;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 281px 357px 332px 418px;
      grid-template: 256px auto/281px 357px 332px 418px;
      grid-template-areas: ". socials form logo" ". . . copy";
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}
.footer .footer__socials {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: socials;
}
.footer .footer__socials .footer__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 17px;
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link svg :is(circle, rect, path) {
  -webkit-transition: fill 0.18s ease-out, stroke 0.18s ease-out;
  transition: fill 0.18s ease-out, stroke 0.18s ease-out;
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link svg > g > circle {
  fill: transparent;
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link:hover > svg > g > circle {
  fill: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link:active > svg > g > circle {
  fill: var(--main-dark);
  stroke: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:first-of-type {
  fill: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:nth-of-type(2) {
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:nth-of-type(3) {
  fill: var(--gray-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:nth-of-type(4) {
  stroke: var(--gray-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram svg path:last-of-type {
  fill: var(--gray-dark);
  stroke: var(--gray-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:first-of-type {
  fill: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:nth-of-type(2) {
  stroke: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:nth-of-type(3) {
  fill: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:nth-of-type(4) {
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:hover > svg path:last-of-type {
  fill: var(--main);
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:first-of-type {
  fill: var(--turquoise-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:nth-of-type(2) {
  stroke: var(--turquoise-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:nth-of-type(3) {
  fill: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:nth-of-type(4) {
  stroke: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_instagram:active > svg path:last-of-type {
  fill: var(--main-dark);
  stroke: var(--main-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_twitter svg path, .footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_facebook svg path {
  fill: var(--main);
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_twitter:hover > svg path, .footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_facebook:hover > svg path {
  fill: var(--turquoise);
  stroke: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_twitter:active > svg path, .footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_facebook:active > svg path {
  fill: var(--turquoise-dark);
  stroke: var(--turquoise-dark);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_linkedin svg > g > g > :is(circle, rect, path) {
  fill: var(--main);
  stroke: var(--main);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_linkedin:hover > svg > g > g > :is(circle, rect, path) {
  fill: var(--turquoise);
  stroke: var(--turquoise);
}
.footer .footer__socials .footer__social-list .footer__social-item .footer__social-link_name_linkedin:active > svg > g > g > :is(circle, rect, path) {
  fill: var(--turquoise-dark);
  stroke: var(--turquoise-dark);
}
.footer .footer__form.form {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: form;
  text-transform: uppercase;
  font-size: 0;
}
.footer .footer__form.form .form__title {
  display: block;
  color: var(--main);
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 1px;
  margin-bottom: 20px;
}
.footer .footer__form.form .form__input {
  font-size: 14px;
  width: 234px;
  height: 42px;
  padding-inline: 24px;
}
.footer .footer__form.form .form__submit {
  width: 98px;
  height: 42px;
  background-color: var(--turquoise);
  color: var(--main);
  font-size: 14px;
  letter-spacing: 1px;
  -webkit-transition: background-color 0.18s ease-out, color 0.18s ease-out;
  transition: background-color 0.18s ease-out, color 0.18s ease-out;
}
.footer .footer__form.form .form__submit:hover {
  background-color: var(--main);
  color: var(--turquoise);
}
.footer .footer__form.form .form__submit:active {
  background-color: var(--main-dark);
  color: var(--turquoise-dark);
}
.footer .footer__logo {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: logo;
  position: relative;
  -ms-grid-column-align: right;
      justify-self: right;
  right: 116px;
  bottom: -15px;
}
.footer .footer__logo :is(ellipse, path) {
  fill: var(--gray);
}
.footer .footer__copy {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: copy;
  -ms-grid-column-align: right;
      justify-self: right;
  position: relative;
  margin-bottom: 44px;
  margin-right: 77px;
  color: var(--gray);
  font-family: Inter;
  font-size: 11px;
}

.juicy {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: juicy;
  position: relative;
  background-color: var(--turquoise);
}
.juicy .juicy__btn {
  margin-top: 33px;
}
.juicy .juicy__btn:hover:hover:hover {
  color: var(--turquoise);
}
.juicy .juicy__btn:active:active:active {
  color: var(--turquoise-dark);
}