.down-wrapper {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1388px 532px;
  grid-template-areas:
    "footer juicy";

  @media (min-width: 1283px) and (max-width: 1920px) {
    grid-template-columns: calc(1388px * $scope) calc(532px * $scope);
  }

  @media (max-width: 1282px) {
    grid-template-columns: auto;
    grid-template-areas: "footer";
  }
}