.slider-arrows {
  grid-area: slider-arrows;  

  .slider-arrows__imgs-wrapper {
    .slider-arrows__img {
      width: 100%;
    }
  }
  
  .slider-arrows__nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    .slider-arrows__btn {
      &:hover:hover:hover {
        color: var(--green);
      }
    
      &:active:active:active {
        color: var(--green-dark);
      }
    }
    
    .slider-arrows__right-circle, .slider-arrows__left-circle {
      @media (min-width: 1282px) and (max-width: 1920px) {
        width: calc(50px * $scope);
        height: calc(50px * $scope);
      }

      @media (min-width: 951px) and (max-width: 1282px) {
        width: calc(50px * $scope-1282);
        height: calc(50px * $scope-1282);
      }

      @media (min-width: 533px) and (max-width: 950px) {
        width: calc(50px * $scope-950);
        height: calc(50px * $scope-950);
      }
    
      @media (max-width: 532px) {
        width: calc(50px * $scope-532);
        height: calc(50px * $scope-532);
      }

      svg {
        width: 50px;
        height: 50px;

        fill: transparent;
        transition: fill .18s ease-out;

        @media (min-width: 1282px) and (max-width: 1920px) {
          width: calc(50px * $scope);
          height: calc(50px * $scope);
        }

        @media (min-width: 951px) and (max-width: 1282px) {
          width: calc(50px * $scope-1282);
          height: calc(50px * $scope-1282);
        }
  
        @media (min-width: 533px) and (max-width: 950px) {
          width: calc(50px * $scope-950);
          height: calc(50px * $scope-950);
        }
      
        @media (max-width: 532px) {
          width: calc(50px * $scope-532);
          height: calc(50px * $scope-532);
        }
      }

      path {
        transition: stroke .18s ease-out;

        &:last-of-type {
          fill: transparent;
        }
      }

      &:hover > svg {
        fill: var(--main);

        path:last-of-type {
          stroke: var(--green);
        }
      }

      &:active > svg {
        fill: var(--main-dark);

        path:nth-of-type(2) {
          stroke: var(--main-dark);
        }

        path:last-of-type {
          stroke: var(--green-dark);
        }
      }
    }
  } 
}
