.slider-dots {
  grid-area: slider-dots;
  
  .slider-dots__imgs-wrapper {
    .slider-dots__img {
    }
  }

  .slider-dots__btn {
    &:hover:hover:hover {
      color: var(--red);
    }
  
    &:active:active:active {
      color: var(--red-dark);
    }
  }

  .slider-dots__nav {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 62px;
    left: 50%;
    bottom: 60px;
    transform: translateX(-50%);

    .slider-dots__nav-item {
      display: inline-block;
      width: 13px;
      height: 13px;
      box-sizing: border-box;
      border: 2px solid var(--main);
      border-radius: 50%;
    }
    .slider-dots__nav-item_active {
      background-color: var(--main);
    }
  } 
}
